@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body
{
    margin: 20px;
}
.box
{
    background-color: aliceblue;
    border: 2px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px;
}